2º trimestre/trabajos/2º examen/CopyXMLgl/mensaje/mensajes2/mensajes.dtd

<!ELEMENT mensajes (mensaje)*>
<!ELEMENT mensaje (num_telefono , fecha_envio , hora_envio? , contenido_mensaje)>
<!ELEMENT num_telefono (#PCDATA)>
<!ELEMENT fecha_envio (dia , mes , año)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT año (#PCDATA)>
<!ELEMENT hora_envio (#PCDATA)>
<!ELEMENT contenido_mensaje (#PCDATA)>