CopyXMLgl/persona/personas3/personas2.dtd

<!-- entidades parametrizadas. sustitucion de elementos comunes -->
  <!ELEMENT personas (persona*)>
  <!ELEMENT persona (nombre, localidad?, fecha_nacimiento, fecha_alta)>
  <!ELEMENT nombre (#PCDATA)>
  <!ELEMENT localidad (#PCDATA)>
  <!ELEMENT fecha_nacimiento (dia, mes, ano)>
  <!ELEMENT fecha_alta (dia, mes, ano)>
  <!ELEMENT dia (#PCDATA)>
  <!ELEMENT mes (#PCDATA)>
  <!ELEMENT ano (#PCDATA)>
  


